body {
    font-family: "Fira Sans", sans-serif;
}

#content {
    background: transparent linear-gradient(135deg, #0B0A38, #1A1884, #2724C4) repeat scroll 0% 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}